@page "/CatFacts"
@rendermode InteractiveServer
@inject IFactService FactService

<PageTitle>Cat Facts</PageTitle>

<h1>Cat Facts</h1>

<button class="btn btn-primary" @onclick="GetCatFact">Get a new Cat Fact!</button>

<table class="table">
    <thead>
        <tr>
            <th>Fact</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in facts)
        {
            <tr>
                <td>@fact.Fact</td>
                <td>@fact.Length.ToString()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private CatFact[]? facts = [];

    protected override async Task OnInitializedAsync()
    {
        var list = await FactService.GetAll();
        facts = list.ToArray();
    }
    private async Task GetCatFact(MouseEventArgs args)
    {
        var fact = await FactService.GetAndStore();
        facts = facts.Append(fact).ToArray();
        return;
    }
}
