@page "/"
@rendermode InteractiveServer
@inject IFactService FactService

<PageTitle>Cat Facts</PageTitle>

<div style="display: flex; justify-content: space-evenly; ">
    <h1 >Cat Facts</h1>
    <div>
        <button class="btn btn-primary" @onclick="GetCatFact">Get a new Cat Fact!</button>
        <button class="btn btn-primary" @onclick="SaveFactLocally"> Save the fact locally</button>
    </div>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Fact</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in facts)
        {
            <tr>
                <td>@fact.Fact</td>
                <td>@fact.Length.ToString()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private CatFact[]? facts = [];

    protected override async Task OnInitializedAsync()
    {
        var list = await FactService.GetAll();
        facts = list.ToArray();
    }
    private async Task GetCatFact(MouseEventArgs args)
    {
        var fact = await FactService.GetAndStore();
        facts = facts.Append(fact).ToArray();
        return;
    }
    private Task SaveFactLocally(MouseEventArgs args)
    {
        throw new NotImplementedException();
    }
}